.hover:hover {
  /* background-color: #d1f5f9; */
  transition: 0.1s;
}
.icon {
  padding: 0.4rem;
}
.icon :hover {
  border-radius: 20%;

  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

.move-eraser {
  transform: translate(30%, -15%);
  cursor: pointer;
  transition: 0.3s;
}

.move-pen {
  /* transform: translate(10%, -15%); */
  cursor: pointer;
  transition: 0.3s;
}
