.hover:hover {
  transition: 0.1s;
}


.clicked{
  border-radius: 20%;
  box-shadow: 2px 2px 5px 0px #948d8d;
}

.icon :hover {
  border-radius: 20%;
  box-shadow: 2px 2px 5px 0px #948d8d;
}

.move-eraser {
  transform: translate(30%, -15%);
  cursor: pointer;
  transition: 0.3s;
}

.move-pen {
  /* transform: translate(10%, -15%); */
  cursor: pointer;
  transition: 0.3s;
}
